.modal-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.group-container {
  width: 740px;
  height: 317px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.popup-title {
  width: 248px;
  height: 46px;
  font-size: 29px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
}

.group-names,
.color {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 20px;
}

.group-names h3 {
  width: 162px;
  height: 44px;
  margin: 0;
  font-size: 27.31px;
  font-weight: 500;
  color: #000000;
  display: flex;
  align-items: center;
}
.color h3 {
  width: 189px;
  height: 44px;
  margin: 0;
  font-size: 27.31px;
  font-weight: 500;
  color: #000000;
  display: flex;
  align-items: center;
}

.group-names input {
  width: 435px;
  height: 51px;
  border-radius: 22px;
  border: 2px solid #cccccc;
  padding: 0 20px;
  font-size: 20px;
  outline: none;
}

.color-options {
  display: flex;
  gap: 12px;
  padding-left: 10px;
}

.color-dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.create {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.create-btn {
  width: 154px;
  height: 38px;
  background-color: #001f8b;
  border: none;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.color-dot.active {
  border: 3px solid #0047ff;
  box-sizing: border-box;
}
