.group-items {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 12px;
  cursor: pointer;
  margin-top: 5px;
}

.group-items.active {
  background-color: #e6f0ff;
  border-radius: 12px;
}

.group-items:hover {
  background: #f2f2f2;
}

.group-color {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.group-name {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  display: flex;
  align-items: center;
}
